.material-symbols-outlined{
    color:white;
    padding-right: 35px;
}
.tituloMain{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navTitulo h1{
    color:white;
}
.navTitulo span{
    color:rgb(225, 159, 37);
}
.nav-item{
    margin-left:20px;
    font-style: none;
    font-size: 20px;
}
h2{
    color:black;
}
.textoItemList{
    color:black;
    margin:100px;
    font-size: 25px;
    
}
.contenedorItemList{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.cardContador{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-self: center;
    background-color: bisque;
    width:150px;
    border-radius: 10%;
    border-width:thin;
    border-style:solid;
    border-color:black;
}
.btnSuma{
    margin-left:20px;
    height:35px;
    align-self: center;
    
}
.btnResta{
    align-self: center;
    margin-right:20px;
    height: 35px;
}
.mostrarNumero{
    font-size: 20px;
    margin-top:10px;
}
.contenedorCompra{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btnCarrito{
    margin-top:20px;
    margin-bottom:20px;
}
.card img{
    width: 300px;
    height: 300px;
    align-self: center;
}
.card{
    background-color: rgb(254, 248, 245);
    width: 400px;
    max-height: 430px;
    margin-bottom: 1rem;
    
}
.card h3{
    width: 300px;
    flex-direction: column;
    align-self: center;
}
.card p{
    align-self: center;
}

.contenedorProductos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top:4rem;
    /* align-items: center; */
    /* justify-content: center; */
}
.contenedorTItuloProduct{
    display:flex;
    margin-top:6rem;
    align-items: center;
    justify-content: center;
}
.contenedorTItuloProduct h2{
    color:black;
    
}
.contenedorItem{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top:7rem
}
.contenedorItem img{
    width: 300px;
    height: 300px;
    margin-left:2rem;
}
.contenedorDetalle{
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
    
}
.contenedorDetalle h3{
    align-self: center;
}
.contenedorDetalle p{
    width: 500px;
}
.carrito{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin-top:5rem;
    color:black;
}

.tituloVacio{
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:4,5rem;
}
.contenedorUnico{
    /* background-color: aqua; */
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.containerImgCart img{
    width: 350px;
    height: 400px;
}
.conainerGeneral{
    display:flex;
    flex-direction: column;
    align-items: center;
    
}
.carritoItems{
    display: flex;
    flex-wrap: wrap;
}
.vaciarCarrito{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:25px;
}
.ContenedorVacio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contadorCantidad{
    color:white;
}
.contendorMenuContable{
    display: flex;
    margin-right: 3rem;
}
.containerTotalPrecio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}